article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}
*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 15px;
}

html {
	height: 100%;
}

h1{
    padding: 0px;
    margin: 0px;
	
}

body {
	height: 100%;
	--color-text: #fff;
	--color-bg: #000;
	--color-link: #697c7e;
	--color-link-hover: #fff;
	color: var(--color-text);
	background-color: var(--color-bg);
	font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	min-height: 10000px;
}

canvas {
	position: fixed;
	top: 0;
	left: 0;
	
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}

a:hover,
a:focus {
	color: var(--color-link-hover);
	outline: none;
}

.frame {
	padding: 3rem 5vw;
	text-align: center;
	position: relative;
	z-index: 1000;
}

.frame__title {
	font-size: 1rem;
	margin: 0 0 1rem;
	font-weight: normal;
}

.frame__links {
	display: inline;
}

.frame__github,
.frame__links a:not(:last-child),
.frame__demos a:not(:last-child) {
	margin-right: 1rem;
}

.frame__demos {
	margin: 1rem 0;
}

.frame__demo--current,
.frame__demo--current:hover {
	text-decoration: underline;
	color: var(--color-link);
}

.content {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	position: relative;
	align-items: center;
}


* {box-sizing:border-box}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


.header {
	width: 100%;
	display: flex;
	position: relative;
	z-index: 1;
	will-change: opacity;
	opacity: 0;
}

.header__title {
	font-size: 2rem;
	text-transform: uppercase;
	margin-bottom: 0px;
	letter-spacing: 0.15rem;
	background: linear-gradient(40deg, #fdf680 0%,#d6716d 50%, #a0fafb 100%);
	background-size: cover;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
	font-weight: 100;
}

.header__text {
	font-size: 1.25rem;
	color: #ffffff;
}

.flexRescuer {
	display: flex;
	
}

.row {
	display: flex;
	margin: 0px;
  }
  
  .column {
	flex: 50%;
	padding: 10px;
  }
  

  img {
	width: 8em;
    height: auto;
  }


  
  button {
	align-items: center;background: #f5f5fa;border: 0;border-radius: 8px;box-sizing: border-box;color: #2a1f62;cursor: pointer;display: flex;font-family: "Cascadia Code",Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace;font-size: 1rem;justify-content: center;line-height: 1.5rem;padding: 15px;position: relative;text-align: left;transition: .2s;user-select: none;-webkit-user-select: none;touch-action: manipulation;white-space: pre;width: max-content;word-break: normal;word-spacing: normal;}.button-67:hover {background: #f8f8ff;box-shadow: -15px -15px 30px 0 #fff, 15px 15px 30px 0 #1d0dca17;}@media (min-width: 768px) {.button-67 {padding: 24px;}
  }
/* For animating text under name*/
span {
	border-right: .05em solid;
	animation: caret 1s steps(1) infinite;
  }
  
  @keyframes caret {
	50% {
	  border-color: transparent;
	}
  }

.heading {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: fixed;
	z-index: 1;
	will-change: opacity;
	opacity: 0;
	top: 0;
	line-height: 1.2;
	font-size: 1.5rem;
	text-align: center;
	color: white;
	max-width: calc(100% - 80px);
	left: 50%;
	transform: translateX(-50%);
	padding: 0 40px;
}


.project_description {
	font-size: 1.25rem;
	color: #9f9595;
}

.rescuer_features {
	font-size: 1.25rem;
	color: #ffffff;
}

p{
    font-size: 1.25rem;
	color: #ffffff;
	padding: 0px;
    margin: 0px;
}


@media screen and (min-width: 53em) {
	.message {
		display: none;
	}
	.frame {
		position: fixed;
		text-align: left;
		z-index: 10000;
		top: 0;
		left: 0;
		display: grid;
		align-content: space-between;
		width: 100%;
		max-width: none;
		height: 100vh;
		padding: 2rem 2.25rem;
		pointer-events: none;
		grid-template-columns: 25% 50% 25%;
		grid-template-rows: auto auto auto;
		grid-template-areas: 'title title ... '
							'... ... ...'
							'github demos links';
	}
	.frame__title-wrap {
		grid-area: title;
		display: flex;
	}
	.frame__title {
		margin: 0;
	}
	.frame__linkedin {
		grid-area: github;
		justify-self: start;
		margin: 0;
	}
	.frame__demos {
		margin: 0;
		grid-area: demos;
		justify-self: center;
	}
	.frame__links {
		grid-area: links;
		padding: 0;
		justify-self: end;
	}
	.frame a {
		pointer-events: auto;
	}
	.header__title {
		font-size: 7vw;
		letter-spacing: 0.5vw;
	}
	.heading {
		line-height: 1.2;
		font-size: 2.5vw;
	}
}

.bouton {
	color: #ffffff;
	background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    outline: none;
}

#particles-js {
    margin-top: 100px;
    width: 100vw;
    height: 400px;
    background: linear-gradient(45deg, #0ac8f8, #081866);
    z-index: 9;
}


.poo{
	left: 50%;
	transform: translateY(0%) rotate(45deg);
	
				  opacity: 0;
  }
  @keyframes scrolldown {
			  0%{
				  transform: translateY(20%) rotate(45deg);
				  opacity: 0.7;
			  }
			  50%{
				  transform: translateY(0%) rotate(45deg);
				  opacity: 0.2;
			  }
			  100%{
				  transform: translateY(20%) rotate(45deg);
				  opacity: 0.7;
			  }
		  }

p {
	color: #ffffff;
}

@media screen and (max-width: 420px) {
	/* comes into effect for screens less than or equal to 380 pixels */
	.quarter {
		width: 2.5em;
		height: auto;
	  }

	  .single {
		width: 12em !important;
		height: auto;
	  }

	  .oneOfTwo {
		width: 11em !important;
		height: auto;
	  }
  }

  @media screen and (max-width: 330px) {
	/* comes into effect for screens less than or equal to 380 pixels */
	.quarter {
		width: 2em;
		height: auto;
	  }

	  .single {
		width: 12em !important;
		height: auto;
	  }

	  .oneOfTwo {
		width: 11em !important;
		height: auto;
	  }

	  p {
		  font-size: 15px;
		  
	  }
  }

